a,button{
    width: 10rem;
    padding:20px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 600;
    background-color: rgb(226, 226, 214);
    box-shadow: 2px 2px 4px rgb(154, 152, 152);
}